
.fontello-icon-spin3:before { content: '\e800'; } /* '' */
.fontello-icon-spin5:before { content: '\e801'; } /* '' */
.fontello-icon-mail:before { content: '\e802'; } /* '' */
.fontello-icon-mail-alt:before { content: '\e803'; } /* '' */
.fontello-icon-database:before { content: '\e804'; } /* '' */
.fontello-icon-doc:before { content: '\e805'; } /* '' */
.fontello-icon-docs:before { content: '\e806'; } /* '' */
.fontello-icon-doc-text:before { content: '\e807'; } /* '' */
.fontello-icon-doc-inv:before { content: '\e808'; } /* '' */
.fontello-icon-doc-text-inv:before { content: '\e809'; } /* '' */
.fontello-icon-file-pdf:before { content: '\e80a'; } /* '' */
.fontello-icon-file-excel:before { content: '\e80b'; } /* '' */
.fontello-icon-users:before { content: '\e80c'; } /* '' */
.fontello-icon-user:before { content: '\e80d'; } /* '' */
.fontello-icon-drive:before { content: '\e80e'; } /* '' */
.fontello-icon-gauge:before { content: '\e80f'; } /* '' */
.fontello-icon-link:before { content: '\e810'; } /* '' */
.fontello-icon-unlink:before { content: '\e811'; } /* '' */
.fontello-icon-ok:before { content: '\e812'; } /* '' */
.fontello-icon-lock:before { content: '\e813'; } /* '' */
.fontello-icon-lock-open:before { content: '\e814'; } /* '' */
.fontello-icon-lock-open-alt:before { content: '\e815'; } /* '' */
.fontello-icon-pin:before { content: '\e816'; } /* '' */
.fontello-icon-download:before { content: '\e817'; } /* '' */
.fontello-icon-folder-empty:before { content: '\e818'; } /* '' */
.fontello-icon-folder-open-empty:before { content: '\e819'; } /* '' */
.fontello-icon-folder:before { content: '\e81a'; } /* '' */
.fontello-icon-folder-open:before { content: '\e81b'; } /* '' */
.fontello-icon-cog:before { content: '\e81c'; } /* '' */
.fontello-icon-cog-alt:before { content: '\e81d'; } /* '' */
.fontello-icon-wrench:before { content: '\e81e'; } /* '' */
.fontello-icon-sliders:before { content: '\e81f'; } /* '' */
.fontello-icon-left-big:before { content: '\e820'; } /* '' */
.fontello-icon-right-big:before { content: '\e821'; } /* '' */
.fontello-icon-up-big:before { content: '\e822'; } /* '' */
.fontello-icon-down-big:before { content: '\e823'; } /* '' */
.fontello-icon-arrows-cw:before { content: '\e824'; } /* '' */
.fontello-icon-twitter:before { content: '\e825'; } /* '' */
.fontello-icon-twitter-squared:before { content: '\e826'; } /* '' */
.fontello-icon-facebook-squared:before { content: '\e827'; } /* '' */
.fontello-icon-facebook:before { content: '\e828'; } /* '' */
.fontello-icon-git-squared:before { content: '\e829'; } /* '' */
.fontello-icon-git:before { content: '\e82a'; } /* '' */
.fontello-icon-github:before { content: '\e82b'; } /* '' */
.fontello-icon-github-squared:before { content: '\e82c'; } /* '' */
.fontello-icon-github-circled:before { content: '\e82d'; } /* '' */
.fontello-icon-google:before { content: '\e82e'; } /* '' */
.fontello-icon-gplus:before { content: '\e82f'; } /* '' */
.fontello-icon-gplus-squared:before { content: '\e830'; } /* '' */
.fontello-icon-off:before { content: '\e831'; } /* '' */
.fontello-icon-circle:before { content: '\e832'; } /* '' */
.fontello-icon-circle-empty:before { content: '\e833'; } /* '' */
.fontello-icon-asterisk:before { content: '\e834'; } /* '' */
.fontello-icon-chart-bar:before { content: '\e835'; } /* '' */
.fontello-icon-chart-area:before { content: '\e836'; } /* '' */
.fontello-icon-chart-pie:before { content: '\e837'; } /* '' */
.fontello-icon-toggle-on:before { content: '\e838'; } /* '' */
.fontello-icon-toggle-off:before { content: '\e839'; } /* '' */
.fontello-icon-sort-alt-up:before { content: '\e83a'; } /* '' */
.fontello-icon-sort-alt-down:before { content: '\e83b'; } /* '' */
.fontello-icon-gauge-1:before { content: '\e83c'; } /* '' */
.fontello-icon-tree:before { content: '\e83d'; } /* '' */
.fontello-icon-linux:before { content: '\e83e'; } /* '' */
.fontello-icon-play:before { content: '\e83f'; } /* '' */
.fontello-icon-rss:before { content: '\e840'; } /* '' */
.fontello-icon-rss-squared:before { content: '\e841'; } /* '' */
.fontello-icon-clock:before { content: '\e842'; } /* '' */
.fontello-icon-shuffle:before { content: '\e843'; } /* '' */
.fontello-icon-exchange:before { content: '\e844'; } /* '' */
.fontello-icon-cloud:before { content: '\e845'; } /* '' */
.fontello-icon-trash:before { content: '\e846'; } /* '' */
.fontello-icon-users-1:before { content: '\e847'; } /* '' */
.fontello-icon-user-1:before { content: '\e848'; } /* '' */
.fontello-icon-linkedin:before { content: '\e849'; } /* '' */
.fontello-icon-linkedin-squared:before { content: '\e84a'; } /* '' */
.fontello-icon-location:before { content: '\e84b'; } /* '' */
.fontello-icon-direction:before { content: '\e84c'; } /* '' */
.fontello-icon-home:before { content: '\e84d'; } /* '' */
.fontello-icon-thumbs-up:before { content: '\e84e'; } /* '' */
.fontello-icon-thumbs-up-alt:before { content: '\e84f'; } /* '' */
.fontello-icon-thumbs-down:before { content: '\e850'; } /* '' */
.fontello-icon-thumbs-down-alt:before { content: '\e851'; } /* '' */
.fontello-icon-quote-left:before { content: '\e852'; } /* '' */
.fontello-icon-quote-right:before { content: '\e853'; } /* '' */
.fontello-icon-attention-alt:before { content: '\e854'; } /* '' */
.fontello-icon-stop:before { content: '\e855'; } /* '' */
.fontello-icon-pause:before { content: '\e856'; } /* '' */
.fontello-icon-star:before { content: '\e857'; } /* '' */
.fontello-icon-star-empty:before { content: '\e858'; } /* '' */
.fontello-icon-cancel:before { content: '\e859'; } /* '' */
.fontello-icon-upload:before { content: '\e85a'; } /* '' */
.fontello-icon-shield:before { content: '\e85b'; } /* '' */